*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
reports
dev

# YARD artifacts
.yardoc
_yardoc
.bin

# Editor files
*.sublime*
*.swp
.idea

*.sqlite
Gemfile.lock

bethtest/
*bethtest*
coverage
spec/examples.txt
